[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6.6"

[pipenv]
allow_prereleases = true

[packages]
# Lib-dependencies already defined within `setup.py`

[dev-packages]
# Symlink to project root
s3migrate = {editable = true,path = "."}
# Linter
flake8 = "*"
mypy = "*"
pydocstyle = "*"
# Testing
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-lazy-fixture = "*"
boto3             = "*"
moto            = "==1.3.13"  # https://github.com/spulec/moto/issues/1941
